* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration-line: none;
}

.center-translate{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text-style {
    width: 100vw;
    color: #fefefe;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
}